* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #f77f00, #fcbf49);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #4c4c4c;
    opacity: .8;
    margin: 1px;
    color: white;
}

.calculator-grid > button:hover {
    background-color: black;
    opacity: .8;
}

.calculator-grid > button:active {
    background-color: black;
    opacity: .5;
}

.tt {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(255, 255, 255, .4);
    margin: 0 1px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .before {
    color: rgba(0, 0, 0, .5);
    font-size: 1.5rem;
}

.output .now {
    color: black;
    font-size: 2.5rem;
}

.number {
    background-color: black;
    opacity: 1;
}

#equals {
    background-color: chocolate;
    opacity: .9;
}

#equals:active {
    background-color: coral;
}